auto<!DOCTYPE html>
<html>
<head>
  <title>BookApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'-->
  <%= yield :head %>
</head>
<body>
<%=render 'layouts/head'%>
<%=render 'layouts/search'%>
<%if flash[:success]%>
<div id="fflash" class="a-s" style="position:absolute;margin-top:20px;height:auto;width:500px;left:50%;margin-left:-250px;text-align:center;">
<%else%>
<div id="fflash" class="a-d" style="position:absolute;margin-top:20px;height:auto;width:500px;left:50%;margin-left:-250px;text-align:center;">
<%end%>
  <%flash.each do |name,msg|%>
    <div id="k" class="alert alert-<%='#{name}'%>">
      <a href="#" class="close" data-dismiss="alert">&#215;</a>
      <%=content_tag :div, msg, id: "flash_#{name}"if msg.is_a?(String)%>
    </div>
  <%end%>
  <%if flash%>
      <%=javascript_tag do%>
          setTimeout(function(){
            $('#fflash').fadeOut(400);
            
          },4000);
      <%end%>
  <%end%>
</div>
<!--=================== YIELD ==================== -->
<%= yield %>
<!--============================================== -->
<%if request.fullpath == root_path%>
  <!-- nothing -->
<%else%>
  <div id="side_cart" class=""><h2>Your Cart</h2>
  <div id="cartUp"><%=render @cart if @cart%></div>
  </div>
<%end%>  
<style type="text/css">
<%if flash[:success] ||flash[:danger]%>
.a-s{background-color: rgb(58,193,98) !important;color:#fff;}
.a-d{background-color: #ff6666 !important;color:#fff;}
<%end%>
</style>

<%=javascript_tag do%>
$('#k').click(function(){
  $('#fflash').fadeOut(450);
});
<%end%>

</body>
</html>
